@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

.header {
	width: 100%;
	height: 500px;
	background: url(../images/Background.png);
	background-size: cover;
	background-position: center;
}

.headertext {
	color: #ffffff !important;
	background: transparent !important;
	position: absolute;
	top: 250px;
	transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	width: 100%;
	text-align: center;
	font-family: "Lato", sans-serif;
}

.navbar-brand {
	padding-top: 10px !important;
}

.menubarwhite, .menubargreen {
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent;
	border: none !important;
}

.menubarwhite a, .menubargreen a {
	/*color: #ffffff !important;*/
	padding-bottom: 5px !important;
}

.menubarwhite a:hover:not(.navbar-brand) {
	border-bottom: 1px solid #ffffff;
}

.menubargreen a:hover:not(.navbar-brand) {
	border-bottom: 1px solid #06b9ba;
}

.frontdescription {
	width: 100%;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	font-size: 50px;
	font-family: "Lato", sans-serif;
}

.programs {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.programs h2 {
	padding-bottom: 20px;
}

.programs .col-md-4 {
	margin-bottom: 30px;
}

.programbox {
	width: 100%;
	height: 25vw;
	background: #aaaaaa;
	margin-left: auto;
	margin-right: auto;
}

.big {
	width: 100%;
	height: 1000px;
	margin-top: 100px;
	background: #aaaaaa;
}
